#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Прозорий колір оверлею */
    z-index: 999; /* Значення z-index для відображення над іншими елементами */
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 75%;
    height: 80%;
    justify-content: space-between;
    padding-bottom: 10px;
}
