/* styles.css */

.button {
    display: flex;
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: darkgray;
}

.button:active {
    background-color: gray;
}
